@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Brand Colors */
  --primary: #5dd62c;
  --primary-dark: #337418;

  /* Light Mode */
  --bg: #fefefe;
  --surface: #f8f8f8;
  --text: #202020;
--skill-color: #0f0f0f;
--here-me: #fefefe;
--svg-path-color: #0f0f0f;


  /* Gradients */
  --heading-gradient: linear-gradient(to right, #5dd62c, #0f0f0f);

  --icons-gradient: linear-gradient(to right, #5dd62c, #0f0f0f);
}

.dark-mode {
  /* Dark Mode */
  --bg: #0f0f0f;
  --surface: #202020;
  --text: #fefefe;
  --skill-color: #f8f8f8;
  --here-me: #202020;
  --svg-path-color: #fefefe;

  /* Gradients */
  --heading-gradient: linear-gradient(to right, #5dd62c, #f8f8f8);

  --icons-gradient: linear-gradient(to right, #5dd62c, #f8f8f8);
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

.header {
 position: sticky;
  top: 0;
  right: 0;
  z-index: 100;
  height: 4rem;
  background-color: var(--surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
}

.header .menu .nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

}

.header .logo h1 {
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--primary);
}

.header .menu .nav-links li {
  list-style: none;
}

.header .menu .nav-links li a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: var(--text);
}
.header .menu .nav-links :nth-child(1) a {
  color: var(--primary-dark);
 
}
.header .menu .nav-links :nth-child(1) a:hover {
  color: var(--text);
 
}

.header .menu .nav-links  :nth-child(6) a  {
  background-color: var(--primary);
  padding-block: 10px;
  padding-inline: 24px;
  border-radius: 8px;
  width: 125px;
  height: 35px;
  display: inline-flex;
  transition: all 0.3s ease-in;
  align-items: center;
  justify-content: center;
}
.header .menu .nav-links :nth-child(6) a:hover {
  /* background-color: var(--primary-dark); */
  color: var(--here-me);
  transform: translateY(-5px) scale(1.05);
  box-shadow: -8px 10px 25px -12px rgb(93, 214, 44);
}

.header .menu .nav-links li a:hover {
  color: var(--primary-dark);
}

/* .header .menu .nav-links li #home {
  color: #337418;
} */

/* .header .menu .nav-links li #home:hover {
  color: #f8f8f8;
} */
.header #themeBtn {
  background: transparent;
  border: none;
}
#themeBtn i{
  font-size: 24px;
  color: var(--primary);
}


main .home {
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
}

.container {
  width: 1110px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.home .container .home-content {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home .text-info {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.home .text-info h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  background: var(--heading-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--primary);
  animation:
    typing 6s steps(11) infinite,
    blink 0.7s infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  45% {
    width: 11ch;
  }
  55% {
    width: 11ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: var(--primary);
  }
  50% {
    border-color: transparent;
  }
}

.home .text-info h2 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text);
}

.home .text-info .btn {
  font-size: 1rem;
  background-color: var(--primary);
  color: var(--text);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-self: start;
  margin-right: 10px;
  text-decoration: none;
}

.home .text-info .btn-container a:nth-child(1):hover {
  background-color: var(--primary-dark);
  color: var(--surface);
  /* box-shadow: 0px 0px 8px 1px rgb(248, 248, 248); */
}

.home .text-info .btn-container a:nth-child(2) {
  background-color: transparent;
  border: 1px solid #202020;
}
.home .text-info .btn-container a:nth-child(2):hover {
  background-color: var(--primary-dark);
  color: var(--surface);
  border: none;
  /* box-shadow: 0px 0px 8px 1px rgb(93, 214, 44, 0.5); */
}

.btn-container {
  display: flex;
}

.home .container .home-content .profile-image {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  position: relative;
  height: 503px;
  overflow: hidden;
}

.home .container .home-content .profile-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  /* border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, transparent, #0f0f0f, transparent) 1; */
    -webkit-mask-image: linear-gradient(
        to top,
        transparent,
        black 35%
    );

    mask-image: linear-gradient(
        to top,
        transparent,
        black 35%
    );
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade 6s infinite ease-in-out;
}

.img2 {
  animation-delay: 3s;
  max-width: 520px;
}
/* ana kudaray */
.img1 {
  max-width: 470px;
}

/* ----- */

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home .container .mini-follow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-block: 10px;
  padding-inline: 15px;
  /* border-block: 2px solid transparent;
  animation: moving-border-r 2s infinite ease-in-out; */
}

@keyframes moving-border-r {
  0% {
    border-image: linear-gradient(to right, #0f0f0f, transparent, transparent) 1;
  }
  50% {
    border-image: linear-gradient(to right, transparent, #5dd62c, transparent) 1;
  }

  100% {
    border-image: linear-gradient(to right, transparent, transparent, #0f0f0f) 1;
  }
}

.home .container .mini-follow .routine {
  color: var(--text);
  cursor: pointer;
  letter-spacing: 1px;
}
.home .container .mini-follow .routine:hover {
  color: var(--primary);
}

.home .container .mini-follow .routine i {
  color: var(--primary);
  font-size: 24px;
}

.routine:nth-child(1),
.routine:nth-child(3) {
  animation: floatUp 2s ease-in-out infinite;
}

.routine:nth-child(2),
.routine:nth-child(4) {
  animation: floatUp 3s ease-in-out infinite reverse;
}

@keyframes floatUp {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}

main .about {
  /* background-color: #202020; */
  min-height: 100vh;
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .container .about-content {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.about .container .about-content .about-image-vector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}
.about .container .about-content .about-image-vector img {
  width: 100%;
  max-width: 500px;
  display: block;
  animation: up-down 2s infinite;
  z-index: 1;
}

.path-container .my-svg {
  width: 300px;
  position: absolute;
  right: 110px;
  bottom: -50px;
  animation: up-down 2s infinite;
  /* animation: rotateImage 10s linear infinite; */
}

.my-svg path {
  fill: var(--svg-path-color);
}

@keyframes up-down {
  0%,
  100% {
    /* transform: translateY(10px); */
    transform: scale(1.1);
  }
  50% {
    /* transform: translateY(-10px); */
    transform: scale(1);
  }
}

/* .about .container .about-content .about-image {
  background-color: #ffffff;
  border-radius: 5%;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  box-shadow: -10px 10px 25px -10px rgb(93, 214, 44, 0.3);
}

.about .container .about-content .about-image:hover {
  transform: scale(0.95);
  box-shadow: -10px 10px 25px -5px rgb(93, 214, 44, 0.5);
}

.about .container .about-content .about-image img {
  width: 100%;
  max-width: 500px;
  display: block;
} */

.about .about-content .about-text-info {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about .about-content .about-text-info h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
  background: var(--heading-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .about-content .about-text-info h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text);
  line-height: 1.4;
  /* background: linear-gradient(to right, #337418, #5dd62c, #f8f8f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.about .about-content .about-text-info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text);
}

main .skills {
  /* background-color: #0f0f0f; */
  min-height: 500px;
  padding-block: 4rem;
  /* padding-bottom: 4rem; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills .container .skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.skills .container .skills-content .skills-text-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 20px;
}

.skills .container .skills-content .skills-text-info h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
  background: var(--heading-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills .container .skills-content .skills-text-info p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text);
  max-width: 500px;
}

.skills .container .skills-content .skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
}

.skills .container .skills-content .skills-container .skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--surface);
  max-width: 400px;
  position: relative;
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 5px;
  box-shadow: -8px 10px 25px -20px rgb(93, 214, 44);
  transition: 0.3s ease-in;
}

.skills .container .skills-content .skills-container .skill:hover {
  transform: scale(1.1);
  margin: 5px;
}
/* 
.skills .container .skills-content .skills-container .skill .skill-title img {
  width: 50px;
  animation: rotate 10s linear infinite;
} */

.skills .container .skills-content .skills-container .skill .skill-title i {
  font-size: 50px;
  animation: rotate 10s linear infinite;
  background: var(--icons-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotateY('angle');
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skills .container .skills-content .skills-container .skill .skill-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 0.5rem;
}

.skills .container .skills-content .skills-container .skill .skill-title h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #202020;
  cursor: pointer;
}
.skills
  .container
  .skills-content
  .skills-container
  .skill
  .skill-title
  h4:hover {
  color: #337418;
}

.skill .skill-percentage span {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #5dd62c;
  font-size: 1rem;
  font-weight: 400;
}
.skill .skill-percentage span:hover {
  color: #337418;
}

.skill .skill-percentage .html-p {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #5dd62c 80%, var(--skill-color) 20%);
  border-radius: 10px;
}
.skill .skill-percentage .css-p {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #5dd62c 85%, var(--skill-color) 15%);
  border-radius: 10px;
}
.skill .skill-percentage .js-p {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #5dd62c 80%, var(--skill-color)  20%);
  border-radius: 10px;
}
.skill .skill-percentage .gh-p {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #5dd62c 75%, var(--skill-color) 25%);
  border-radius: 10px;
}
.skill .skill-percentage .ps-p {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #5dd62c 80%, var(--skill-color) 20%);
  border-radius: 10px;
}
.skill .skill-percentage .ai-p {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #5dd62c 95%, var(--skill-color) 5%);
  border-radius: 10px;
}

main .projects {
  min-height: 100vh;
  /* background-color: #202020; */
  padding-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .projects .container .projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .projects .container .projects-content .projects-text-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 20px;
}
main .projects .container .projects-content .projects-text-info h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
  background: var(--heading-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .projects .container .projects-content .projects-text-info p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text);
  max-width: 500px;
}

main .projects .container .projects-content .projects-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
main .projects .container .projects-content .projects-cards .project {
  background-color: var(--surface);
  padding: 20px;
  border-radius: 15px;
  box-shadow: -8px 10px 25px -20px rgb(93, 214, 44);
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.3s ease;
}

.projects .container .projects-content .projects-cards .project:hover {
  transform: scale(1.1);
  /* margin: 5px; */
}

main .projects .container .projects-content .projects-cards .project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
main .projects .container .projects-content .projects-cards .project h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
}
main .projects .container .projects-content .projects-cards .project p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  line-height: 1.6;
}
main
  .projects
  .container
  .projects-content
  .projects-cards
  .project
  .project-btn {
  font-size: 1rem;
  background-color: #5dd62c;
  color: #0f0f0f;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-self: start;
  margin-top: auto;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
main
  .projects
  .container
  .projects-content
  .projects-cards
  .project
  .project-btn
  i {
  color: #ffffff;
  font-weight: 900;
}

main
  .projects
  .container
  .projects-content
  .projects-cards
  .project
  .project-btn:hover {
  background-color: #337418;
  color: #ffffff;
}

main .contact {
  min-height: 100vh;
  /* background-color: #0f0f0f; */
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .contact .container .contact-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 20px;
}
main .contact .container .contact-title h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 1rem;
  background: var(--heading-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .contact .container .contact-title p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text);
  max-width: 500px;
}

main .contact .contact-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--surface);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: -8px 10px 25px -20px rgb(93, 214, 44);
}
main .contact .contact-container .contact-info {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  border-right: 2px solid transparent;
  /* border-image: linear-gradient(to bottom, transparent, #5dd62c, transparent) 1; */
  animation: moving-border 2s infinite ease-in-out;
}

@keyframes moving-border {
  0% {
    border-image: linear-gradient(to bottom, #5dd62c, transparent, transparent)
      1;
  }
  50% {
    border-image: linear-gradient(to bottom, transparent, #5dd62c, transparent)
      1;
  }

  100% {
    border-image: linear-gradient(to bottom, transparent, transparent #5dd62c) 1;
  }
}
main .contact .contact-container .contact-info h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  background: var(--heading-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .contact .contact-container .contact-info .contact-items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .contact .contact-container .contact-info .contact-item h3 {
  font-size: 1rem;
  line-height: 1.4;
  color: #5dd62c;
  font-weight: 200;
}
main .contact .contact-container .contact-info .contact-item p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text);
  font-weight: 400;
}
main .contact .contact-container .contact-info .social-icons h3 {
  font-size: 1rem;
  line-height: 1.4;
  color: #5dd62c;
  font-weight: 200;
}
main .contact .contact-container .contact-info .social-icons a {
  font-size: 25px;
  line-height: 1.4;
  /* color: #5dd62c; */
  font-weight: 200;
  text-decoration: none;

  background: var(--icons-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .contact .contact-container .contact-form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
  gap: 20px;
}

main .contact .contact-container .input-row {
  display: flex;
  gap: 20px;
}

main .contact .contact-container .input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .contact .contact-container .input-group label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: var(--bg);
  color: var(--text);
  box-shadow: -8px 10px 25px -20px rgb(93, 214, 44);
}

main .contact .contact-container .input-group textarea {
  /* height: 180px; */
  height: 150px;
  resize: none;
}

main .contact-form .send-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: var(--primary);
  color: #0f0f0f;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  /* line-height: 1.2; */
}
main .contact-form .send-btn i {
  color: #fefefe;
  font-weight: 900;
}
main .contact-form .send-btn:hover {
  background: var(--primary-dark);
  color: #fefefe;
  transform: translateY(-5px);
  box-shadow: -8px 10px 25px -12px rgb(93, 214, 44);
}

@media (max-width: 768px) {
  /* header */
.header .menu {
    display: none;
  }

  .header .logo h1 {
    font-size: 2.25rem;
    font-weight: 800;
    color: #5dd62c;
  }

  /* .header .mobile-menu {
  display: none;
  background-color: #202020;
  inset: 0 0 0 0;
} */

  /* cointainer */

  .container {
    width: 90%;
  }

  /* home section */

  .home .container .home-content {
    flex-direction: column;
  }

  /* About Section */
  .about .container .about-content {
    flex-direction: column-reverse;
  }

  .path-container .my-svg {
    width: 300px;
    position: absolute;
    right: 185px;
    bottom: -50px;
    animation: up-down 2s infinite;
    /* animation: rotateImage 10s linear infinite; */
  }

  /* .my-svg path {
    fill: #337418;
  } */

  /* skills section */

  .skills .container .skills-content .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* projects section */
  main .projects .container .projects-content .projects-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* contact sectoin */
  main .contact .contact-container .contact-info {
    align-items: center;
    border-right: none;
    border-bottom: 2px solid transparent;
    /* border-image: linear-gradient(to right, transparent, #5dd62c, transparent) 1; */
    animation: moving-border 2s infinite ease-in-out;
  }

  @keyframes moving-border {
    0% {
      border-image: linear-gradient(to right, #5dd62c, transparent, transparent)
        1;
    }
    50% {
      border-image: linear-gradient(to right, transparent, #5dd62c, transparent)
        1;
    }

    100% {
      border-image: linear-gradient(to right, transparent, transparent #5dd62c)
        1;
    }
  }
  main .contact .contact-container .contact-info .contact-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-left: 120px;
  }

  main .contact .contact-container {
    flex-direction: column;
  }

  main .contact .contact-container .input-row {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  /* header */
  .header .logo h1 {
    font-size: 1.25rem;
    font-weight: 800;
    color: #5dd62c;
  }

  /* home */
  .home .text-info h1 {
    font-size: 3rem;
  }

  .home .text-info h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    
  }

  .home .container .home-content .profile-image {
    height: 385px;
  }

  .home .container .mini-follow {
    justify-content: space-between;
  }

  .home .container .mini-follow .routine {
   
    letter-spacing: 1px;
    font-size: 0.75rem;
  }

  .home .container .mini-follow .routine i {
    color: #5dd62c;
    font-size: 16px;
  }
  /* about */

  .about .about-content .about-text-info h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    color: #f8f8f8;
  }

  .about .about-content .about-text-info h3 {
    font-size: 2.25rem;
  }

  .path-container .my-svg {
    width: 250px;
    position: absolute;
    right: 60px;
    bottom: -50px;
    animation: up-down 2s infinite;
  }

  /* .my-svg path {
    fill: #5dd62c;
  } */

  /* skills */

  .skills .container .skills-content .skills-container {
    grid-template-columns: 1fr;
  }

  .skills .container .skills-content .skills-title h2 {
    font-size: 3rem;
    font-weight: 700;
  }

  .skills .container .skills-content .skills-container .skill:hover {
    transform: scale(1.05);
  }

  /* projects section */
  main .projects .container .projects-content .projects-cards {
    grid-template-columns: 1fr;
  }

  .projects .container .projects-content .projects-cards .project:hover {
    transform: scale(0.9);
  }

  /* contact section */
  main .contact .contact-container {
    padding: 10px;
  }

  main .contact .contact-container .contact-info .contact-items-container {
    margin: 0;
    padding: 10px;
  }

  main .contact .contact-container .contact-info .contact-item p {
    font-size: 0.85rem;
    letter-spacing: 0.0625rem;
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 40px;
  z-index: 1000;
  animation: glow 2s infinite ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }

  50% {
    box-shadow: 0 0 20px 10px rgba(37, 211, 102, 0.3);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

.whatsapp-float:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0 0 25px rgba(37, 211, 102, 0.8);
}
